.recipeCard {
  background-color: var(--neutral-0);
  padding: var(--spacing-100);
  border-radius: var(--radius-10);
  box-shadow: 0 8px 16px -9px rgb(22, 58, 52, 0.16);
}

.recipeCardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--radius-10);
}

.recipeCardTitle {
  font-weight: 700;
  color: var(--neutral-900);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipeCardDescription {
  font-size: var(--font-size-16);
  font-weight: 500;
  color: var(--neutral-600);
}

@media screen and (min-width: 768px) {
  .recipeCardDescription {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
