.heading {
  font-family: var(--font-nunito);
  font-size: var(--font-size-40);
  font-weight: 800;
  color: var(--neutral-900);
  line-height: 1.1;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: var(--font-size-52);
  }
}

@media screen and (min-width: 1024px) {
  .heading {
    text-align: center;
  }
}

.description {
  font-family: var(--font-nunito-sans);
  font-size: var(--font-size-20);
  font-weight: 500;
  color: var(--neutral-600);
  letter-spacing: -0.01em;
  margin: var(--spacing-150) 0 var(--spacing-600);
}

@media screen and (min-width: 768px) {
  .description {
    max-width: 60ch;
  }
}

@media screen and (min-width: 1024px) {
  .description {
    text-align: center;
    margin-bottom: var(--spacing-800);
    max-width: 62ch;
    margin-inline: auto;
  }
}
