.footerDivider {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footerDivider {
    display: block;
    border: 1px solid var(--neutral-300);
    margin-bottom: var(--spacing-500);
  }
}
