.searchContainer {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: var(--spacing-200);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.searchContainer input {
  width: 100%;
  font-size: var(--font-size-18);
  font-weight: 600;
  color: var(--neutral-900);
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-300);
  border-radius: var(--radius-10);
  padding: var(--spacing-125) var(--spacing-200) var(--spacing-125)
    calc(var(--spacing-200) + 20px + var(--spacing-100));
  transition: all 0.2s ease;
}

.searchContainer input:focus-visible {
  outline: none;
}

.searchContainer input::placeholder {
  color: var(--neutral-600);
}

.searchContainer input:hover {
  border-color: var(--neutral-900);
}

@media screen and (min-width: 768px) {
  .searchContainer {
    width: auto;
    min-width: 320px;
  }
}

@media screen and (min-width: 1024px) {
  .searchContainer {
    min-width: 315px;
  }
}
