/* Base link styles */
.navLink {
  font-size: var(--font-size-18);
  font-weight: 600;
  color: var(--neutral-900);
}

.active,
.navLink:hover {
  border-bottom: 3px solid var(--orange-500);
  border-radius: 3px;
}

.navLink:focus {
  outline: none;
}

.navLink:focus-visible {
  outline: 3px solid var(--neutral-900);
  outline-offset: 6px;
  border-radius: 3px;
}
