:root {
  /* Colors */
  /* Neutral colors */
  --neutral-0: rgb(255, 255, 255);
  --neutral-100: rgb(246, 245, 241);
  --neutral-200: rgb(224, 230, 227);
  --neutral-300: rgb(208, 220, 217);
  --neutral-600: rgb(57, 88, 82);
  --neutral-900: rgb(22, 58, 52);

  /* Primary colors */
  --orange-500: rgb(254, 159, 107);
  --teal-500: rgb(73, 172, 155);
  --indigo-500: rgb(105, 125, 219);
  --pink-500: rgb(249, 211, 189);

  /* Dropdown colors */
  --dropdown-text: #293241;

  /* Font Sizes */
  --font-size-72: 4.5rem;
  --font-size-64: 4rem;
  --font-size-52: 3.25rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;

  /* Spacing */
  --spacing-1800: 8.75rem;
  --spacing-1600: 8rem;
  --spacing-1400: 7rem;
  --spacing-1200: 6rem;
  --spacing-1000: 5rem;
  --spacing-800: 4rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-250: 1.25rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-125: 0.625rem;
  --spacing-100: 0.5rem;
  --spacing-075: 0.375rem;
  --spacing-050: 0.25rem;
  --spacing-025: 0.125rem;
  --spacing-0: 0;

  /* Border Radius */
  --radius-full: 999px;
  --radius-24: 1.5rem;
  --radius-20: 1.25rem;
  --radius-16: 1rem;
  --radius-12: 0.75rem;
  --radius-10: 0.625rem;
  --radius-8: 0.5rem;
  --radius-6: 0.375rem;
  --radius-4: 0.25rem;
  --radius-0: 0;
}
