@import "./design-tokens.css";
@import "tailwindcss";

/* Font utilities */
.font-nunito {
  font-family: var(--font-nunito);
}

.font-nunito-sans {
  font-family: var(--font-nunito-sans);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--neutral-100);
  font-size: var(--font-size-20);
  font-family: var(--font-nunito);
  font-weight: 500;
}

/* Container utility */
.container {
  margin: 0 auto;
  max-width: 1192px;
  width: 100%;
  padding-inline: var(--spacing-200);
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: var(--spacing-400);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-inline: 0;
  }
}
